<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>

<link th:href="@{/css/styles.css}" rel="stylesheet" />
<style>
a {
	link-decoration: none;
}
</style>

</head>
<body>
	<div class="container">
		<form th:action="@{/process-password}" th:object="${passwordObj}"
			method="post" id="login">
			<h2 th:text="${email}"></h2>
			<fieldset>
				<div>
					<label>Enter password</label>
					<div class="col-8">
						<input type="text" id="pass1" name="password"
							 required autofocus />
					</div>
				</div>
			</fieldset>
			<fieldset>
				<div>
					<label>Confirm password</label>
					<div class="col-8">
						<input type="password" id="pass2" name="password"
							th:field="*{password}" required autofocus />
					</div>
				</div>
			</fieldset>
			<fieldset>
				<div>
					<button type="submit" id="myBtn" class="btn btn-lg btn-primary btn-block" disabled>Reset
						Password</button>
				</div>
				<h4 style="color: red">* Changing password will take you to
					login page!</h4>
			</fieldset>
		</form>
	</div>
	<script>
	let x = document.getElementById("pass1").value;
	let y = document.getElementById("pass2").value;
	console.log(x)
	if(x === y){
		document.getElementById("myBtn").disabled = false;
	}
	

</script>
</body>
</html>