<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Register</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />   

</head>
<body>
 			<div class="container">
 			<form th:action="@{/process_register}" th:object="${user}" method="post" id="login">
 			
            <h2 >SIGN UP</h2>
             <fieldset>
                <div class="form-group row">
                    <label class="col-4 col-form-label">E-mail: </label>
                    <div class="col-8">
                        <input type="email" th:field="*{email}"   required autofocus/>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Password: </label>
                    <div class="col-8">
                        <input type="password" style="width:100%" th:field="*{password}"  
                                required minlength="6" maxlength="20"/>
                    </div>
                </div>
            </fieldset>    
            <fieldset>
                <div class="form-group row">
                    <label class="col-4 col-form-label">First Name: </label>
                    <div class="col-8">
                        <input type="text" th:field="*{firstName}"  
                                required minlength="2" maxlength="20"/>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group row">
                    <label class="col-4 col-form-label ">Last Name: </label>
                    <div class="col-8">
                        <input type="text" th:field="*{lastName}"  
                                required minlength="2" maxlength="20" />
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>
                </div>
            </fieldset>
 			</form>
 			</div>
</body>
</html>